/* Logo en haut à droite */
#custom-footer-logo {
  position: absolute !important;
  top: 15px !important;
  right: 20px !important;
  width: 50px !important;
  height: auto !important;
  z-index: 1000 !important;
}

/* Pagination en bas à droite */
#custom-slide-number {
  position: absolute !important;
  bottom: 15px !important;
  right: 20px !important;
  font-size: 14px !important;
  color: #000 !important;
  z-index: 1000 !important;
}
